<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>

    <link rel="stylesheet" href="../static/styles/form-page-container.css"
          th:href="@{/styles/form-page-container.css}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skade</title>
</head>
<body>
<div th:replace ="navbar :: navbar"></div>
<div class="container" >

    <section class="info-section-container section-container">
        <div class="info-header">
            <img class="car-image" th:src="@{${car.url}}" src="../static/images/car-test-photo.jpg" alt="car-test-photo">
        </div>
        <h1 class="header-text" th:text="${car.make} + ' ' + ${car.model}">Mærke efterfulgt af model</h1>
        <div class="info-key">
            <h2 class="text">Stelnummer:</h2>
            <h2 class="text">Skade dato:</h2>

        </div>
        <div class="info-value">
            <h2 class="text" th:text="${car.chassisNumber}">120120034-322</h2>
            <h2 class="text" >15-05-2022</h2>
        </div>
    </section>

    <section class="form-section-container section-container">
        <h1 class="form-header text">Opret Skade</h1>
        <form class="form-container" action="/create-damage" mathod="post">
            <section class="form-content">

            <label class="form-label" for="description" >Skade Beskrivelse</label>
            <input class="form-input-box text" type="text" id="description" placeholder="Beskriv skaden">

            <label class="form-label" for="price">Skade Pris</label>
            <input class="form-input-box text" type="number" id="price" placeholder="Intast Prisen">
            </section>
            <section class="button-container">
                <button class="button-submit text" type="submit">Opret Skaden</button>
            </section>
        </form>


    </section>
</div>

</body>
</html>