<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <link rel="stylesheet" href="../static/styles/form-page-container.css"
          th:href="@{/styles/form-page-container.css}"/>
    <meta charset="UTF-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>

<div th:replace ="navbar :: navbar"></div>
<div class="container">


    <section class="info-section-container section-container">

        <div class="info-header">
            <img class="car-image" src="../static/images/car-test-photo.jpg" alt="car-test-photo">

        </div>
        <h1 class="header-text" th:text="${car.make} + ' ' + ${car.model}">Mærke efterfulgt af model</h1>
        <div class="info-key">
            <h2 class="text">Vognnummer:</h2>
            <h2 class="text">Stelnummer:</h2>
            <h2 class="text">Mærke:</h2>
            <h2 class="text">Model:</h2>
            <h2 class="text">Farve:</h2>
            <h2 class="text">Udstyrsniveau:</h2>
            <h2 class="text">Registreringsafgift:
            </h2>
            <h2 class="text">CO2-udledning:</h2>


        </div>

        <div class="info-value">
            <h2 class="text" th:text="${car.registrationNumber}">2F3DFDA759N2</h2>
            <h2 class="text" th:text="${car.chassisNumber}">120120034-322</h2>
            <h2 class="text" th:text="${car.make}">Toyota</h2>
            <h2 class="text" th:text="${car.model}">Enmodelher</h2>
            <h2 class="text" th:text="${car.color}">Rød</h2>
            <h2 class="text" th:text="${car.equipmentLevel}">Extremely advanced</h2>
            <h2 class="text" th:text="${car.registrationFee}">12500</h2>
            <h2 class="text" th:text="${car.emission}">25,7</h2>

        </div>

    </section>


    <section class="form-section-container section-container">

        <h1 class="form-header text">Opret lejekontrakt</h1>


        <form class="form-container text" action="/create-lease" method="POST">


            <section class="form-content">
                <label class="form-label" for="regNumber">Registreringsnummer</label>
                <input class="form-input-box text" type="text" id="regNumber" placeholder="Indtast registreringsnummer">

                <label class="form-label" for="cprNumber">Kundens CPR-nummer</label>
                <input class="form-input-box text" type="number" id="cprNumber" placeholder="Indtast CRP-nummer">

                <label class="form-label" for="accountNumber">Kontonummer</label>
                <input class="form-input-box text" type="number" id="accountNumber" placeholder="Indtast kontonummer">

                <label class="form-label" for="chassisNumber">Stelnummer</label>
                <input class="form-input-box text" type="text" id="chassisNumber" placeholder="Indtast stelnummer">

                <label class="form-label" for="period">Kundens CPR-nummer</label>
                <input class="form-input-box text" type="number" id="period" placeholder="Periode">
                <!--Er "period" id til CPR? -->

                <label class="form-label" for="price">Price</label>
                <input class="form-input-box text" type="text" id="price" placeholder="Indtast pris">


            </section>
            <section class="button-container">
                <button class="button-submit text" type="submit">Opret</button>
            </section>

            <!-- PERIOD??? HVILKET FORMAT?-->

        </form>

    </section>

</div>


</body>
</html>