<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/form-page-container-customer-and-car.css"
          th:href="@{/styles/form-page-container-customer-and-car.css}"/>
</head>
<body>

<div th:replace ="navbar :: navbar"></div>
    
<div class="page-container">



<form class="form-container text" action="/create-customer" method="POST">

    <h1 class="form-header text">Opret kunde</h1>

    <section class="form-content">
        <label class="form-label" for="firstName">Fornavn</label>
        <input class="form-input-box text" name="firstName" type="text" id="firstName" placeholder="Indtast fornavn">

        <label class="form-label" for="lastName">Efternavn</label>
        <input class="form-input-box text" name="lastName" type="text" id="lastName" placeholder="Indtast efternavn">

        <label class="form-label" for="email">Email</label>
        <input class="form-input-box text" type="text" name="email" id="email" placeholder="Indtast email">

        <label class="form-label" for="phoneNumber">Telefonnummer</label>
        <input class="form-input-box text" type="number" name="phoneNumber" id="phoneNumber" placeholder="Indtast telefonnummer">

        <label class="form-label" for="address">Addresse</label>
        <input class="form-input-box text" type="text" name="address" id="address" placeholder="Indtast adresse">

        <label class="form-label" for="zipCode">Postnummer</label>
        <input class="form-input-box text" type="number" id="zipCode" name="zipCode" placeholder="Indtast postnummer">

        <label class="form-label" for="cpr">CPR Nummer</label>
        <input class="form-input-box text" type="number" id="cpr" name="cpr" placeholder="Indtast CPR-nummer">

        <label class="form-label" for="accountNumber">Kontonummer</label>
        <input class="form-input-box text" type="number" id="accountNumber" name="accountNumber" placeholder="Indtast kontonummer">

        <label class="form-label" for="registrationNumber">Registreringsnummer</label>
        <input class="form-input-box text" type="number" id="registrationNumber" name="registrationNumber" placeholder="Indtast registreringsnummer">


    </section>
    <section class="button-container">
        <button class="button-submit text" type="submit">Opret</button>
    </section>

    <!-- PERIOD??? HVILKET FORMAT?-->

</form>


</div>
</body>
</html>