<!-- Martin
 Daniel
 Danny-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <link rel="stylesheet" href="../static/styles/form-page-container.css"
          th:href="@{/styles/form-page-container.css}"/>
    <meta charset="UTF-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>

<div th:replace ="navbar :: navbar"></div>
<div class="container">


    <section class="info-section-container section-container">

        <div class="info-header">
            <img class="car-image" th:src="@{${car.url}}" alt="car-test-photo">

        </div>
        <h1 class="header-text" th:text="${car.make} + ' ' + ${car.model}">Mærke efterfulgt af model</h1>
        <div class="info-key">
            <h2 class="text">Vognnummer:</h2>
            <h2 class="text">Stelnummer:</h2>
            <h2 class="text">Mærke:</h2>
            <h2 class="text">Model:</h2>
            <h2 class="text">Farve:</h2>
            <h2 class="text">Udstyrsniveau:</h2>
            <h2 class="text">Registreringsafgift:
            </h2>
            <h2 class="text">CO2-udledning:</h2>


        </div>

        <div class="info-value">
            <h2 class="text" th:text="${car.registrationNumber}">2F3DFDA759N2</h2>
            <h2 class="text" th:text="${car.chassisNumber}">120120034-322</h2>
            <h2 class="text" th:text="${car.make}">Toyota</h2>
            <h2 class="text" th:text="${car.model}">Enmodelher</h2>
            <h2 class="text" th:text="${car.color}">Rød</h2>
            <h2 class="text" th:text="${car.equipmentLevel}">Extremely advanced</h2>
            <h2 class="text" th:text="${car.registrationFee}">12500</h2>
            <h2 class="text" th:text="${car.emission}">25,7</h2>

        </div>

    </section>


    <section th:if="${#strings.equals(car.status, 'available')}"  class="form-section-container section-container">


        <a href="/">
            <button class="back-btn">↩︎</button>
        </a>

        <h1 class="form-header text">Opret lejekontrakt</h1>


        <form class="form-container text" action="/create-lease" method="POST">


            <section class="form-content">

                <label class="form-label" for="cprNumber">Kundens CPR-nummer</label>
                <input class="form-input-box text" name="cprNumber" type="number" id="cprNumber" placeholder="Indtast CRP-nummer">

                <span class="errormessage" style="color:red;" th:if="${errorMessage != null}" th:text="${errorMessage}"></span>

                <!-- den kan være hidden evt reg nummer -->
                <!--<label class="form-label" for="chassisNumber">Registreringsnummer</label>-->
                <input class="form-input-box text" type="hidden" name="regNumber" id="carRegNumber" th:value="${car.registrationNumber}">

                <!--Er "period" id til CPR? -->

                <label class="form-label" for="price">Pris/måned</label>
                <input class="form-input-box text" type="number" id="price" name="price" placeholder="Indtast pris">

                <label class="form-label" for="customerAccountNumber">Kundens kontonummer</label>
                <input class="form-input-box text" type="number" name="customerAccountNumber" id="customerAccountNumber" placeholder="Indtast kontonummer">

                <label class="form-label" for="customerRegNumber">Kundens registreringsnummer</label>
                <input class="form-input-box text" type="number" name="customerRegNumber" id="customerRegNumber" placeholder="Indtast periode">

                <label class="form-label" for="startDate">Startdato</label>
                <input class="form-input-box text" type="date" id="startDate" name="startDate" placeholder="Indtast startdato">

                <label class="form-label" for="endDate">Slutdato</label>
                <input class="form-input-box text" type="date" id="endDate" name="endDate" placeholder="Indtast slutdato">




            </section>
            <section class="button-container">
                <button class="button-submit text" type="submit">Opret</button>
            </section>

            <!-- PERIOD??? HVILKET FORMAT?-->

        </form>

    </section>


    <section th:if="${#strings.equals(car.status, 'reserved')}"  class="form-section-container section-container">

        <a href="/">
            <button class="back-btn">↩︎</button>
        </a>

        <h1 class="form-header text">Opdater lejekontrakt</h1>


        <form class="form-container text" action="/update-lease" method="POST">


            <section class="form-content">

                <label class="form-label" for="updateCprNumber">Kundens CPR-nummer</label>
                <input style="color: grey;" class="form-input-box text" name="updateCprNumber" type="number" id="updateCprNumber" th:value="${lease.customerCprNumber}" readonly>

                <!-- den kan være hidden evt reg nummer -->
                <!--<label class="form-label" for="chassisNumber">Registreringsnummer</label>-->
                <input class="form-input-box text" type="hidden" name="updateCarRegNumber" id="updateCarRegNumber" th:value="${car.registrationNumber}">

                <!--Er "period" id til CPR? -->

                <label class="form-label" for="updatePrice">Pris/måned</label>
                <input class="form-input-box text" type="number" id="updatePrice" name="updatePrice" th:value="${lease.pricePerMonth}">

                <label class="form-label" for="updateCustomerAccountNumber">Kundens kontonummer</label>
                <input class="form-input-box text" type="number" name="updateCustomerAccountNumber" id="updateCustomerAccountNumber" th:value="${lease.customerAccountNumber}">

                <label class="form-label" for="updateCustomerRegNumber">Kundens registreringsnummer</label>
                <input class="form-input-box text" type="number" name="updateCustomerRegNumber" id="updateCustomerRegNumber" th:value="${lease.customerRegNumber}">

                <label class="form-label" for="updateStartDate">Startdato</label>
                <input class="form-input-box text" type="date" id="updateStartDate" name="updateStartDate" th:value="${lease.startDate}">

                <label class="form-label" for="updateEndDate">Slutdato</label>
                <input class="form-input-box text" type="date" id="updateEndDate" name="updateEndDate" th:value="${lease.endDate}">



            </section>
            <section class="button-container">
                <button class="button-submit text" type="submit">Opdater</button>
            </section>

            <!-- PERIOD??? HVILKET FORMAT?-->

        </form>

    </section>


    <section th:if="${#strings.equals(car.status, 'workshop')}"  class="form-section-container section-container">

        <a href="/">
            <button class="back-btn">↩︎</button>
        </a>

        <h1 class="form-header text">BIL PÅ VÆRKSTED</h1>


        <form class="form-container text">


            <section class="form-content">

                <label class="form-label" for="updateCprNumber">Kundens CPR-nummer</label>
                <input style="color: grey;" class="form-input-box text" name="updateCprNumber" type="number" id="updateCprNumber"  readonly>

                <!-- den kan være hidden evt reg nummer -->
                <!--<label class="form-label" for="chassisNumber">Registreringsnummer</label>-->
                <input class="form-input-box text" type="hidden" name="updateCarRegNumber" id="updateCarRegNumber"  readonly>

                <label class="form-label" for="updatePeriod">Periode</label>
                <input class="form-input-box text" type="number" name="updatePeriod" id="updatePeriod" readonly>
                <!--Er "period" id til CPR? -->

                <label class="form-label" for="updatePrice">Price</label>
                <input class="form-input-box text" type="number" id="updatePrice" name="updatePrice" readonly>

                <label class="form-label" for="updateCustomerAccountNumber">Kundens kontonummer</label>
                <input class="form-input-box text" type="number" name="updateCustomerAccountNumber" id="updateCustomerAccountNumber" readonly>

                <label class="form-label" for="updateCustomerRegNumber">Kundens registreringsnummer</label>
                <input class="form-input-box text" type="number" name="updateCustomerRegNumber" id="updateCustomerRegNumber" readonly>


            </section>


            <!-- PERIOD??? HVILKET FORMAT?-->

        </form>

    </section>


</div>


</body>
</html>