<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org/">
<head>
  <link rel="stylesheet" href="../static/styles/form-page-container.css"
        th:href="@{/styles/form-page-container.css}"/>
  <meta charset="UTF-8"/>
  <title>Skadesrapport</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>

<div th:replace="navbar :: navbar"></div>
<div class="container">


  <section class="info-section-container section-container">

    <div class="info-header">
      <img class="car-image" th:src="@{${car.url}}" src="../static/images/car-test-photo.jpg" alt="car-test-photo">

    </div>
    <h1 class="header-text" th:text="${car.make} + ' ' + ${car.model}">Mærke efterfulgt af model</h1>
    <div class="info-key">
      <h2 class="text">Vognnummer:</h2>
      <h2 class="text">Stelnummer:</h2>
      <h2 class="text">Mærke:</h2>
      <h2 class="text">Model:</h2>
      <h2 class="text">Farve:</h2>
      <h2 class="text">Udstyrsniveau:</h2>
      <h2 class="text">Registreringsafgift:
      </h2>
      <h2 class="text">CO2-udledning:</h2>


    </div>

    <div class="info-value">
      <h2 class="text" th:text="${car.registrationNumber}">2F3DFDA759N2</h2>
      <h2 class="text" th:text="${car.chassisNumber}">120120034-322</h2>
      <h2 class="text" th:text="${car.make}">Toyota</h2>
      <h2 class="text" th:text="${car.model}">Enmodelher</h2>
      <h2 class="text" th:text="${car.color}">Rød</h2>
      <h2 class="text" th:text="${car.equipmentLevel}">Extremely advanced</h2>
      <h2 class="text" th:text="${car.registrationFee}">12500</h2>
      <h2 class="text" th:text="${car.emission}">25,7</h2>

    </div>

  </section>


  <section class="form-section-container2 section-container2">
    <h1 class="form-header2 text">Skadesrapporter</h1>

    <table>
      <tr class="tableHead">
        <th>DATO</th>
        <th>BESKRIVELSE</th>
        <th>PRIS</th>
        <th>HANDLING</th>
      </tr>

      <!-- SKADER -->
      <tr class="damage-content" th:each="damageReport: ${selectedDamageReport}">
        <td th:text="${damageReport.date}">DD/MM/YYYY</td>
        <td class="damageReportInputTD"><input class="damageReportInput" type="text" name="description"
                                               id="description" placeholder="Skadesbeskrivelse" required></td>
        <td th:text="${damageReport.price}">54.659kr.</td>
        <td><div class="btn-functions">
          <button class="button-submit2 text" type="submit">OPRET</button>
        </div></td>
      </tr>

      <tr class="damage-content" th:each="damageReport: ${selectedDamageReport}">
        <td th:text="${damageReport.date}">DD/MM/YYYY</td>
        <td th:text="${damageReport.description}">Kort beskrivelse</td>
        <td th:text="${damageReport.price}">54.659kr.</td>
        <td><div class="btn-functions">
          <button class="button-submit2 text" href="/create-damagereport">TILFØJ SKADE</button>
        </div></td>
      </tr>

      <!-- TODO SLET TESTTABEL -->
      <!-- SKAL SLETTES - START-->
      <tr class="damage-content" th:each="damageReport: ${selectedDamageReport}">
        <td th:text="${damageReport.date}">DD/MM/YYYY</td>
        <td th:text="${damageReport.description}">Laaaang lang lang lang lang beskrivelse</td>
        <td th:text="${damageReport.price}">54.659kr.</td>
        <td><div class="btn-functions">
          <button class="button-submit2 text" type="submit">TILFØJ SKADE</button>
        </div></td>
      </tr>


      <tr class="damage-content" th:each="damageReport: ${selectedDamageReport}">
        <td th:text="${damageReport.date}">DD/MM/YYYY</td>
        <td th:text="${damageReport.description}">Kort beskrivelse</td>
        <td th:text="${damageReport.price}">54.659kr.</td>
        <td><div class="btn-functions">
          <button class="button-submit2 text" type="submit">TILFØJ SKADE</button>
        </div></td>
      </tr>

      <!-- SKAL SLETTES - SLUT -->
    </table>

  </section>

</div>


</body>
</html>