<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bil abonnement</title>
    <link rel="stylesheet" href="../static/styles/index.css" th:href="@{/styles/index.css}">
</head>
<body>

<div class="container">
    <img class="logo" src="../static/images/logo_brands_mxocob.png" th:src="@{/images/logo_brands_mxocob.png}" alt="logo">
    <div class="login-container">
        <img class="avatar" src="../static/images/Blue logo.png" alt="avatar" th:src="@{/images/Blue logo.png}">
<form class="form" action="/login" method="POST">

    <label class="label-username" for="username"><b>Brugernavn</b></label>
    <input class="input-username" id="username" type="text" placeholder="  Indsæt brugernavn" name="username" required>

    <label class="label-password" for="password"><b>Kodeord</b></label>
    <input class="input-password" id="password" type="password" placeholder="  Indsæt kodeord" name="password" required>

    <button class="button" type="submit">Log ind</button>

</form>
</div>
</div>

</body>
</html>