<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/login-attempt" method="POST">

    <label for="username"><b>Brugernavn</b></label>
    <input id="username" type="text" placeholder="Indsæt brugernavn" name="username" required>

    <label for="password"><b>Kodeord</b></label>
    <input id="password" type="password" placeholder="Indsæt kodeord" name="password" required>

    <button type="submit">Log ind</button>

</form>

</body>
</html>