<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:fragment="navbar">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/navbar.css" th:href="@{/styles/navbar.css}">
    <title>Bilabonnement</title>
</head>
<body th:fragment="navbar">
    <div class="container">
        <div class="img">
    <img th:src="@{/images/logo_brands_mxocob.png}" src="../static/images/logo_brands_mxocob.png" alt="logo">
</div>
    <div class="nav-left">
        <p>Forside</p>
        <p>Log ud</p>
    </div>
    </div>
</body>
</html>