<!-- Daniel -->
<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:fragment="navbar">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/navbar.css" th:href="@{/styles/navbar.css}">
    <title>Bilabonnement</title>
    </th:block>
</head>
<body th:fragment="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-img">
        <div class="navbar-img">
    <img th:src="@{/images/logo_brands_mxocob.png}" src="../static/images/logo_brands_mxocob.png" alt="logo">
</div>
</a>
    <div class="nav-left">
        <a href="/"><p>Forside</p></a>
        <a href="/logout"><p>Log ud</p></a>
    </div>
    </div>
</body>
</html>