<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skade og Udbedring</title>

    <link rel="stylesheet" href="../static/styles/skadeOgUdbedring-landingpageStyle.css"
          th:href="@{/styles/skadeOgUdbedring-landingpageStyle.css}">
</head>
<body>

<div th:replace ="navbar :: navbar"></div>

<h1 class="departmentName">Skade og udbedring</h1>

<form class="searchbar-container">
    <div class="searchbar-container2">
        <input class="searchbar-input" type="text" placeholder="Søg..." name="search">
        <button class="allCars">ALLE BILER <div class="arrow"></div></button>
    </div>
    <div class="searchbar-container3">
        <button class="search-button" type="submit">SØG</button>
    </div>
</form>

<div class="card-layout"> <!--Grid layout, inspiration fra vores Ønskeseddel projekt-->


    <div class="card-container" th:each="car: ${showCars}">
        <div class="card-reserved">
            <div class="card-reserved2test">
                <span>Reserveret</span>
            </div>
            <img class="carimg" src="../static/images/TestCar2.jpg" alt="Yellow Car"
                 th:src="@{/images/TestCar2.jpg}">
            <h1>Navn på bilen</h1>
        </div>
        <p th:text="${car.make}">Mærke</p>
        <p th:text="${car.model}">Model</p>
        <p th:text="${car.registrationNumber}">Registreringsnummer</p>
        <p th:text="${car.color}">Farve</p>
    </div>

    <div class="card-container">
        <div class="card-reserved">
            <div class="card-reserved2">
                <span>Reserveret</span>
            </div>
            <img class="carimg" src="../static/images/TestCar.jpg" alt="Intet billede"
                 th:src="@{/images/TestCar.jpg}">
            <h1>Peugeot 208 Active Pack 75 HK</h1>
        </div>
        <p>Mærke</p>
        <p>Model</p>
        <p>Registreringsnummer</p>
        <p>Farve</p>
    </div>


    <div class="card-container">
        <div class="card-reserved">
            <div class="card-reserved2test">
                <span>Reserveret</span>
            </div>
            <img class="carimg" src="../static/images/TestCar2.jpg" alt="Yellow Car"
                 th:src="@{/images/TestCar2.jpg}">
            <h1>Navn på bilen</h1>
        </div>
        <p>Mærke</p>
        <p>Model</p>
        <p>Registreringsnummer</p>
        <p>Farve</p>
    </div>




    <div class="card-container">
        <div class="card-reserved">
            <div class="card-reserved2">
                <span>Reserveret</span>
            </div>
            <img class="carimg"  src="../static/images/TestCar3.jpg" alt="Yellow Car"
                 th:src="@{/images/TestCar3.jpg}">
            <h1>Navn på bilen</h1>

        </div>
        <p>Mærke</p>
        <p>Model</p>
        <p>Registreringsnummer</p>
        <p>Farve</p>
    </div>


    <div class="card-container">
        <div class="card-reserved">
            <div class="card-reserved2">
                <span>Reserveret</span>
            </div>
            <img class="carimg"  src="../static/images/TestCar.jpg" alt="Intet billede"
                 th:src="@{/images/TestCar.jpg}">
            <h1>Peugeot 208 Active Pack 75 HK</h1>
        </div>
        <p>Mærke</p>
        <p>Model</p>
        <p>Registreringsnummer</p>
        <p>Farve</p>
    </div>


    <div class="card-container">
        <div class="card-reserved">
            <div class="card-reserved2">
                <span>Reserveret</span>
            </div>
            <img class="carimg"  src="../static/images/TestCar.jpg" alt="Intet billede"
                 th:src="@{/images/TestCar.jpg}">
            <h1>Peugeot 208 Active Pack 75 HK</h1>
        </div>
        <p>Mærke</p>
        <p>Model</p>
        <p>Registreringsnummer</p>
        <p>Farve</p>
    </div>


    <div class="card-container">
        <div class="card-available">
            <div class="card-available2test">
                <span>Ledig</span>
            </div>
            <img class="carimg"  src="../static/images/TestCar2.jpg" alt="Yellow Car"
                 th:src="@{/images/TestCar2.jpg}">
            <h1>Navn på bilen</h1>
        </div>
        <p>Mærke</p>
        <p>Model</p>
        <p>Registreringsnummer</p>
        <p>Farve</p>
    </div>


    <div class="card-container">
        <div class="card-available">
            <div class="card-available2">
                <span>Ledig</span>
            </div>
            <img class="carimg"  src="../static/images/TestCar.jpg" alt="Intet billede"
                 th:src="@{/images/TestCar.jpg}">
            <h1>Peugeot 208 Active Pack 75 HK</h1>
        </div>
        <p>Mærke</p>
        <p>Model</p>
        <p>Registreringsnummer</p>
        <p>Farve</p>
    </div>


    <div class="card-container">
        <div class="card-reserved">
            <div class="card-reserved2">
                <span>Reserveret</span>
            </div>
            <img class="carimg"  src="../static/images/TestCar.jpg" alt="Intet billede"
                 th:src="@{/images/TestCar.jpg}">
            <h1>Peugeot 208 Active Pack 75 HK</h1>
        </div>
        <p>Mærke</p>
        <p>Model</p>
        <p>Registreringsnummer</p>
        <p>Farve</p>
    </div>

</div>

<div class="warning">
    ALARM/WARNING
</div>

</body>
</html>