<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skade og Udbedring</title>

    <link rel="stylesheet" href="../static/styles/skadeOgUdbedring-landingpageStyle.css"
          th:href="@{/styles/skadeOgUdbedring-landingpageStyle.css}">
</head>
<body>

<div th:replace ="navbar :: navbar"></div>

<h1 class="departmentName" th:if="${#strings.equals(user.role, 'skade')}">Skade og udbedring</h1>
<h1 class="departmentName" th:if="${#strings.equals(user.role, 'dataregistrering')}">Dataregistrering</h1>

<form class="searchbar-container" action="/landingpage" method="POST">
    <div class="searchbar-container2">
        <input class="searchbar-input" type="text" placeholder="Søg..." name="search">
        <button class="allCars">ALLE BILER <div class="arrow"></div></button>
    </div>

    <select id="country" name="sortCriteria">
        <option value="all">Alle biler</option>
        <option value="available">Ledig</option>
        <option value="reserved">Reserved</option>
        <option value="workshop">Værksted</option>
    </select>

    <div class="searchbar-container3">
        <button class="search-button" type="submit">SØG</button>
    </div>
</form>

<div class="card-layout"> <!--Grid layout, inspiration fra vores Ønskeseddel projekt-->

<!-- if sætning med sammeligning af strings:
https://stackoverflow.com/questions/23243277/thymeleaf-how-to-compare-string-with-request-parameter-in-html-in-thymeleaf-ta -->

    <div class="card-container" th:each="car: ${showCars}">

        <a th:if="${#strings.equals(user.role, 'skade')}" th:href="@{'/create-damagerapport/' + ${car.registrationNumber}}">
        <div class="card-reserved">
            <div th:if="${#strings.equals(car.status, 'reserved')}" class="card-reserved2">
            <span>Reserveret</span>
            </div>
            <div th:if="${#strings.equals(car.status, 'workshop')}" class="card-workshop2">
                <span>Værksted</span>
            </div>
            <div th:if="${#strings.equals(car.status, 'available')}" class="card-available2">
                <span>Ledig</span>
            </div>
            <img class="carimg" src="../static/images/TestCar2.jpg" alt="Car"
                 th:src="@{${car.url}}">
            <h1 th:text="${car.make} + ' ' + ${car.model}">Navn på bilen</h1>
         </div>

        <p th:text="${car.make}">Mærke</p>
        <p th:text="${car.model}">Model</p>
        <p th:text="${car.registrationNumber}">Registreringsnummer</p>
        <p th:text="${car.color}">Farve</p>
    </a>


        <a th:if="${#strings.equals(user.role, 'dataregistrering')}" th:href="@{'/create-lease/' + ${car.registrationNumber}}">
            <div class="card-reserved">
                <div th:if="${#strings.equals(car.status, 'reserved')}" class="card-reserved2">
                    <span>Reserveret</span>
                </div>
                <div th:if="${#strings.equals(car.status, 'workshop')}" class="card-workshop2">
                    <span>Værksted</span>
                </div>
                <div th:if="${#strings.equals(car.status, 'available')}" class="card-available2">
                    <span>Ledig</span>
                </div>
                <img class="carimg" src="../static/images/TestCar2.jpg" alt="Car"
                     th:src="@{${car.url}}">
                <h1 th:text="${car.make} + ' ' + ${car.model}">Navn på bilen</h1>
            </div>

            <p th:text="${car.make}">Mærke</p>
            <p th:text="${car.model}">Model</p>
            <p th:text="${car.registrationNumber}">Registreringsnummer</p>
            <p th:text="${car.color}">Farve</p>
        </a>



    </div>

</div>

<div class="warning">
    ALARM/WARNING
</div>

</body>
</html>