<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/styles/statistics.css" th:href="@{/styles/statistics.css}">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
</head>
<body>
<div th:replace ="navbar :: navbar"></div>
<div>
    <table>
        <thead class="head-table">
        <tr>
            <th>Mærke</th>
            <th>Ledig</th>
            <th>Udlejet</th>
            <th>På værksted</th>
            <th>Gennemsnitlig lejeperiode i dage</th>
            <th>Gennemsnitlig pris per måned</th>
            <th>Mest populære model</th>
            <th>Mest populære farve</th>
            <th>Gennemsnitlig antal skader per skadesrapport</th>
        </tr>
        </thead>
        <tbody class="body-table">
        <tr th:each="carMakeStatistic: ${carMakeStatistics}">
            <th th:text="${carMakeStatistic.getCarMake()}">Audi</th>
            <th th:text="${carMakeStatistic.getNumberOfAvailableCars()}">25</th>
            <th th:text="${carMakeStatistic.getNumberOfRentedCars()}">Udlejet</th>
            <th th:text="${carMakeStatistic.getNumberOfWorkshopCars()}">På værksted</th>
            <th th:text="${carMakeStatistic.getAverageLeasePeriod()}">365</th>
            <th th:text="${carMakeStatistic.getAveragePricerPerMonth()}">8500</th>
            <th th:text="${carMakeStatistic.getMostPopularModel()}">Mest populære model</th>
            <th th:text="${carMakeStatistic.getMostPopularColor()}">Mest populære farve</th>
            <th th:text="${carMakeStatistic.getAverageDamagesPerDamageReport()}">Gennemsnitlig antal skader per skadesrapport</th>

        </tr>

        </tbody>
    </table>

</div>

</body>
</html>