<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/styles/statistics.css" th:href="@{/styles/statistics.css}">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
</head>
<body>
<div th:replace ="navbar :: navbar"></div>
<div>
    <table>
        <thead class="head-table">
        <tr>
            <th>Antal</th>
            <th>Ledige Biler</th>
            <th>Udlejede Biler</th>
            <th>Limited</th>
            <th>Unlimited</th>
            <th>Alle Biler</th>
        </tr>
        </thead>
        <tbody class="body-table">
        <tr>
            <th>Mærke</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>10</td>
        </tr>
        <tr>
            <th>Antal</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>10</td>

        </tr>
        <tr>
            <th>Pris</th>
            <td>5000</td>
            <td>6000</td>
            <td>7000</td>
            <td>8000</td>
            <td>26000</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>