@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color:rgb(255, 255, 255)
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 3%;
  background-color: rgb(255, 255, 255);
  margin: 2% 10%;
  
}
.section-container {
  display: grid;
  background-color:rgba(169, 169, 169, 0.623);
  border-radius: 3%;
  
}
.info-section-container {
  justify-content: center;
  grid-template-columns: 45% 45%;
  
  grid-template-areas: "header header"
                        "info-key info-value"
                        "info-key info-value"
                        "info-key info-value";
  
}
.info-header {
  display: grid;
  justify-content: center;
  grid-area: header;
  padding: 4% 3% 4% 3%;

}

.info-key {
  grid-area: info-key;
  padding: 4% 3% 4% 3%;
}
.info-value {
  grid-area: info-value;
  padding: 4% 3% 4% 3%;

}
.header-text {
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;

}

.form-input-box {
  margin-bottom: 5%;
  padding: 1%;
}
.form-label {
  margin-bottom: 2%;

}
.form-header {
  font-size: xx-large;
  padding: 3%;

}

.form-section-container {
  grid-template-areas: "header"
                        "form"
                          "form"
                            "form";
  
}
.form-header {
  display: grid;
  justify-content: center;
  grid-area: header;
  margin-top: 5%;
}
.form-container {
  display: grid;
  grid-template-columns: 75%;
  justify-content: center;
  grid-area: form;
  margin-bottom: 5%;
  grid-template-areas: "form-content"
                        "form-content"
                          "form-content"
                            "button";
  
}
.form-content {
  display: grid;
  grid-area: form-content;
  
}
.button-container {
  display: grid;
  grid-template-columns: 25%;
  justify-content: center;
  grid-area: button;
  margin-top: 3%;
  margin-bottom: 2%;
  
}
.button-submit {
  border: none;
  padding: 5% 10%;
  font-weight: 800;
  background-color: rgba(14, 172, 35, 0.884);
  border-radius: 10%;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.car-image {
  max-width: 100%;
  height: auto;
}
.hidden-text {
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  .section-container {
    grid-column: 1 / -1;
    margin-bottom: 3%;
  }
}
