@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Danny
Martin*/

body {
    background-color: rgb(255, 255, 255)
}

.container {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-column-gap: 3%;
    background-color: rgb(255, 255, 255);
    margin: 2% 10%;

}

.section-container {
    display: grid;
    background-color: #F2F2F2;
    border-radius: 3%;

}


.info-section-container {
    justify-content: center;
    grid-template-columns: 45% 45%;

    grid-template-areas: "header header"
                        "info-title info-title"
                        "info-key info-value"
                        "info-key info-value"
                        "info-key info-value";

}

.info-header {
    display: grid;
    justify-content: center;
    grid-area: header;
    margin-top: 4%;

}

.info-key {
    grid-area: info-key;
    margin-bottom: 15%;
}

.info-value {
    grid-area: info-value;

}

.header-text {
    grid-area: info-title;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3%;


}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    margin-bottom: 5%;

}

.form-input-box {
    margin-bottom: 5%;
    padding: 1%;
    border-radius: 50px;
    border-style: none;
}

.form-label {
    margin-bottom: 2%;

}

.form-section-container {
    grid-template-areas: "header"
                        "form"
                          "form"
                            "form";

}

.form-header {
    display: grid;
    justify-content: center;
    /*grid-area: header;*/
    margin-top: 10%;
    font-size: xx-large;
}

.form-header2 {
    display: grid;
    justify-content: center;
    grid-area: header;
    font-size: xx-large;
}

.form-container {
    display: grid;
    grid-template-columns: 65%;
    justify-content: center;
    /*grid-area: form;*/
    margin-bottom: 5%;
    grid-template-areas: "form-content"
                        "form-content"
                          "form-content"
                            "button";

}

.form-content {
    display: grid;
    grid-area: form-content;

}

.button-container {
    display: grid;
    grid-template-columns: 25%;
    justify-content: center;
    grid-area: button;
    margin-top: 3%;
    margin-bottom: 2%;

}

.button-submit {
    border: none;
    padding: 5% 10%;
    font-weight: 800;
    background-color: rgba(14, 172, 35, 0.884);
    border-radius: 10%;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.button-damage {
    background-color: #eac317;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #F5F5F5;
    font-weight: bold;
    font-size: 18px;
}

.button-submit2 {
    background-color: #F2F2F2;
    color: #1892C3;
    border: 1px solid #1892C3;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 10px;
    width: 85%;
}

.btn-functions {
    text-align: center;
}

/*WORKSHOP*/
.button-submit3 {
    background-color: #F2F2F2;
    color: #eac317;
    border: 1px solid #eac317;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 10px;
    width: 85%;
}

.button-submit3:hover {
    background-color: #eac317;
    color: #F2F2F2;
}

/*AVAILABLE*/
.button-submit4 {
    background-color: #F2F2F2;
    color: #0EAC23E1;
    border: 1px solid #0EAC23E1;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 10px;
    width: 85%;
}

.button-submit4:hover {
    background-color: #0EAC23E1;
    color: #F2F2F2;
}

.button-submit2:hover {
    background-color: #167ea7;
    color: #F2F2F2;
}

.button-damage2:hover {
    background-color: #caa914;
}

.car-image {
    max-width: 100%;
    height: 350px;
    border-radius: 3%;
    object-fit: cover;
}

.form-section-container2 {
}

.section-container2 {
    background-color: #F2F2F2;
    border-radius: 3%;
}

.tableHead th { /*Fra "Ønskebrønden - my-wishlistStyle.css" */
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-weight: 700;
    background-color: #1892C3;
    color: #F2F2F2;
}

.damage-content {

}

table {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    table-layout: fixed;
    width: 100%;
}

table tr:nth-child(even) { /*Opdeler ønsker*/
    background-color: #e6e6e6;
}

.errormessage {
    margin-bottom: 10px;
}

.damageReportInput {
    width: 80%;
    height: 25px;
    border-radius: 7px;
    border: 2px solid #1892C3;
}

.damageReportInputTD {
    text-align: center;
}

.scroll-container {
    overflow: auto;
    height: 600px;
}

.back-button{
    width: 40px;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
}