@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Sans&family=Shadows+Into+Light&family=Source+Sans+Pro&display=swap');

.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 130px;
}
.navbar-img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 35px;
    cursor: pointer;
}
.nav-left{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}
.nav-left a{
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
}
.nav-left a:hover{
    color: #1892C3;
    border-bottom-style: double;
    padding-bottom: 4px;
}
.nav-left p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 32px;
}