@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Sans&family=Shadows+Into+Light&family=Source+Sans+Pro&display=swap');
/*Danny*/

.page-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;


}
.form-container{
    background-color: #ececec;
    padding-left: 150px;
    padding-right: 150px;
    /*for at center div i midten. Fundet på en stackoverflow*/
    border-radius: 3%;
    height: 700px;

}

table {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    table-layout: fixed;
    width: 500px;
}
table tr:nth-child(even) { /*Opdeler ønsker*/
    background-color: #e6e6e6;
}
.tableHead th{ /*Fra "Ønskebrønden - my-wishlistStyle.css" */
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-weight: 700;
    background-color: #1892C3;
    color: #F2F2F2;
}

.button-submit2 {
    background-color: #F2F2F2;
    color: #1892C3;
    border: 1px solid #1892C3;;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 10px;
    width: 85%;
}

.button-submit3 {
    background-color: #F2F2F2;
    color: #d02638;
    border: 1px solid #d02638;;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 10px;
    width: 85%;
}

.button-submit3:hover {
    background-color: #d02638;
    color: #F2F2F2;
}

.button-submit2:hover {
    background-color: #167ea7;
    color: #F2F2F2;
}

.damageReportInput {
    width: 80%;
    height: 25px;
    border-radius: 7px;
    border: 2px solid #1892C3;
}

.damageReportInputTD {
    text-align: center;
}

.button-submit{
    width: 40px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: -140px;
    border: none;
    background-color:#ececec;
    border-radius: 100%;
}
.button-submit:hover{
    background-color: #e4f1ff;
}