@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Sans&family=Shadows+Into+Light&family=Source+Sans+Pro&display=swap');

/*Renas*/

.container{
    width: 90%;
    margin: 5% auto;
}

table{
  border-collapse: collapse;
    width: 90%;
    margin-left: 5%;

}

.head-table{
    background-color: #1892C3;
    border-style: dashed;
}
.head-table tr th{
    color: #f5f5f5;
}
tr:nth-child(even){
    background-color:#f5f5f5;
}
.body-table tr:hover{
    background-color: #e4f1ff;
}

td, th{
    text-align: center;
    height: 50px;
    border: solid;
    border-color: #ddd;
}
.back-button{
    margin-left: 5%;
    width: 40px;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    background-color: unset;
    padding: 0%;
}